button {
  margin-left: 5px;
  background-color: #FFFFFF;
  border: 2px solid black;
  width: 150px;
}

button:hover {
  background-color: black;
  color: white;
}

input {
  margin-left: 3px;
}

svg {
  margin-right: 3px;
}

h1 {
  font-family: "Courier New", Courier, monospace;
  text-align: center;
  border-bottom: 1px solid black;
  padding-bottom: 5px;
}

.action{
  margin: 10px;
  padding: 3px;
  display: flex;
  align-items: center;
  justify-content: center;
}
